<!DOCTYPE html>
<html>
<head>
	<title>final footer</title>

	<link rel=stylesheet href="css/bootstrap.min.css">

	<link rel=stylesheet href="css/bootstrap-theme.min.css">



	<style>
		body{ 
 			 background: url(bg.jpg) no-repeat center center fixed; 
  			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
			}


		


	</style>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top:5%;">
				<img src="logo.png" height="80 width="80" alt="temp. logo">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top:5%;">
				<h3 style="display:block; color: white; font-style: initial;  font-size: 2em;
    			font-weight: bold;">TSoC<br><small style="color: white; font-style: italic; ">{The Society of Coders;}</small></h3>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="border-left: 1px solid white;
			height: 250px;
			position: relative;
			margin-top:5%;
			height: 100px">
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top:3.20%;">
				<hr>			
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-1" style="margin-top: 3%;">
								
				<h4 style="color: white; font-size: 2em">Connect with us</h4>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="fb.png" alt="facebook" height="60" weight="60">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="github.png" alt="github" height="60" weight="60">
				</div> 
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="linkdin.png" alt="linkedin" height="60" weight="60">
				
			</div>

			</div>


			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top: 3.20%;">
				<hr>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<hr>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-push-4 col-md-4 col-sm-4 col-xs-4">
			<p style="font-size: 2em; color: white;"> ©2018 | The Society of Coders<br> Made with ❤️ by Team TSoC</p>
		</div>
		</div>
		</div>

	</div>



	<script src="js/jquery=.min.js"></script>

	<script src="js/bootstrap.min.js"></script>

</body>
</html>
